// Navbar

.navbar {
    background-color: #0e0e0e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
    height: 4vw;
    
    a{
        font-size: 1vw;
        color: #fff;
        text-decoration: inherit;
        margin: 1vw;
    }
  }
  
  // Footer
  .footer {
    background-color: #0e0e0e;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  